[user]
	name = {{ .user_handle }}
	email = {{ .user_email }}
[core]
	autocrlf = input
	editor = nvim
	pager = delta
	# pager = difft
	# pager = less -FMRiX
    excludesfile = ~/.config/git/ignore
[color]
	ui = auto
[interactive]
	diffFilter = delta --color-only
[init]
	defaultbranch = main
[branch]
	autosetuprebase = always
[clean]
	requireForce = true
[rerere]
	enabled = 1
[diff]
	tool = bc
	colorMoved = default
[difftool]
	prompt = false
[difftool "bc"]
	trustExitCode = true
[merge]
	tool = bc
	conflictstyle = zdiff3
[mergetool]
	prompt = false
	keepBackup = false
	keepTemporaries = false
[mergetool "bc"]
	trustExitCode = true
[push]
	default = simple
[pull]
	rebase = true
[alias]
	dlog = -c diff.external=difft log --ext-diff
	dshow = -c diff.external=difft show --ext-diff
	difft = -c diff.external=difft diff
	show-graph = log --graph --abbrev-commit --pretty=oneline --decorate=short
	ignore-changes = update-index --assume-unchanged
	notice-changes = update-index --no-assume-unchanged
[instaweb]
	local = true
	httpd = webrick
	port = 4321
[delta]
	navigate = true
	side-by-side = false
	line-numbers = true
	theme = {{ .terminal_theme }}
	{{ .terminal_scheme }} = true
[oh-my-zsh]
	hide-info = 0
